[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "assimp"]
	path = assimp
	url = https://github.com/assimp/assimp.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "bullet3"]
	path = bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
